<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Welcome!</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet"/>

</head>
<body>
<!-- Header -->
<header class="header" id="top">
    <div class="text-vertical-center">
        <h1 th:text="${addpersonmessage}">This should not display</h1>
        <br/>
        <font size="4">Enter your name and email to start</font>
        <br/>
        <form action="#" th:action="@{/addperson}" th:object="${newPerson}" method="post">
            <span th:if="${#fields.hasErrors('name')}" th:error="*{name}">Name Error</span>
            <h4><p>Name: <input type="text" th:field="*{name}"/></p></h4>
            <h4><p>Email: <input type="text" th:field="*{email}"/></p></h4>
            <button type="submit" class="btn btn-dark" value="Submit">Enter</button>
        </form>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.js"></script>

</body>

</html>