<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Skills</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet"/>
</head>
<body>
<!-- Header -->
<header class="header" id="top">
    <div class="text-vertical-center">
        <h2 th:text="${addskimessage}">This should not display</h2>
        <br/>
        <form action="#" th:action="@{/addski}" th:object="${newSki}" method="post">
            <!--<span th:if="${#fields.hasErrors('name')}" th:error="*{name}">Name Error</span>-->
            <p>Enter your skills: <input type="text" th:field="*{skill}"/></p>
            <p>Enter your skills' level: <input type="text" th:field="*{level}"/></p>
            <button type="submit" class="btn btn-dark" value="Add Skills">Add Skills</button>
            <button type="reset" class="btn btn-dark" value="Reset">Reset</button>
        </form>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.js"></script>

</body>


</html>