<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Resumes</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>All Educations Listed</h1>

<table>

    <tr>
        <td><p>Degree</p></td>
        <td><p>Major</p></td>
        <td><p>University</p></td>
        <td><p>Graduate Date</p></td>
    </tr>


    <th:block th:each="singleedu:${edus}">
        <tr>
            <td><p th:text="${singleedu.degree}"/></td>
            <td><p th:text="${singleedu.major}"/></td>
            <td><p th:text="${singleedu.uni}"/></td>
            <td><p th:text="${singleedu.graduatedate}"/></td>
        </tr>
    </th:block>
</table>
<!--initiates a GET back to /addresume-->
<a href="/addedu">Add another education</a>
</body>
</html>